# General Ignore Extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or IDE Ignore Folders
.cache
.settings
*.sublime-project
*.sublime-workspace
**/.metadata/

# Java Ignore Files
*.jar
*.war
*.ear
*.class

# Build Ignore Folders
bin
target
dist
.idea
**/.DS_Store
